$container-mobile: 767px;
$container-breakpoint: 1160px;
 $container-minilaptop: 960px;
 $container-tablet:720px;
$primary-color:#212832;
$primary-light:#5E6282;
$dark-blue:#1E1D4C;
$secondary-color: #2ecc71;
$base-spacing: 16px;
$border-radius: 4px;
$opensans: 'Open Sans', sans-serif;
$poppins: 'Poppins', sans-serif;
$volkhov: 'Volkhov', serif;
$font-weight-500:500;
$font-weight-600:600;
$font-weight-700:700;
$font-size-20:20px;
$font-size-17:17px;
$font-size-16:16px;
$font-size-50:50px;
 $font-size-84:84px;
$font-size-18:18px;
$lineheight-30:30px;
$clr-secondary: #DF6951;
$bg-yelllow:#F1A501;
$white:#ffffff;
$color-grey:#686D77;
     