*, ::after, ::before {
  box-sizing: border-box;
}

.d-flex {
  display: flex;
}

.header-fixed {
  background-color: #fff;
}

.justify-content-center {
  justify-content: center;
}

.w-100 {
  width: 100%;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.margin-bottom-100 {
  margin-bottom: 100px;
}

.text-center {
  text-align: center;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.position-relative {
  position: relative;
}

.img-fluid {
  max-width: 100%;
}

.justify-content-space-between {
  justify-content: space-between;
}

.align-items-center {
  align-items: center;
}

.inline-flex {
  display: inline-flex;
}

.gap-50 {
  gap: 50px;
}

.gap-20 {
  gap: 20px;
}

.overflow-hidden {
  overflow: hidden;
}

.font-17 {
  font-size: 17px;
}

.font-16 {
  font-size: 16px;
}

.font-20 {
  font-size: 20px;
}

.line-height-30 {
  line-height: 30px;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-700 {
  font-weight: 700;
}

.font-weight-400 {
  font-weight: normal;
}

.pd-top-50 {
  padding-top: 50px;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Start from fully transparent */
  }
  to {
    opacity: 1; /* End at fully visible */
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0);
  }
}
@media (min-width: 767px) {
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
  }
}
@media (min-width: 720px) {
  .container {
    max-width: 720px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 960px) {
  .container {
    max-width: 960px;
    margin-right: auto;
    margin-left: auto;
  }
  .hamburger {
    display: none;
  }
}
@media (min-width: 1160px) {
  .container {
    max-width: 1160px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (max-width: 1400px) {
  .pd-top-50 {
    padding-top: 70px;
  }
  .bg-hero-slider .hero-content h1 {
    font-size: 70px;
    line-height: 70px;
    margin-bottom: 20px;
  }
  .bg-hero-slider .hero-content h4 {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .bg-hero-slider .hero-content {
    max-width: 570px;
  }
  .padding-top-100 {
    padding-top: 0px;
  }
  .service-block .gap-50 {
    gap: 15px;
  }
  .service-block .service-item {
    padding: 15px;
  }
}
@media (max-width: 1024px) {
  .header-block .nav-menu .primary-menu li a {
    font-size: 16px;
  }
  .header-block .header-content .gap-50 {
    gap: 35px;
  }
  .bg-hero-slider .hero-content {
    max-width: 460px;
  }
  .bg-hero-slider .hero-content h1 {
    font-size: 65px;
    margin-bottom: 20px;
    line-height: 80px;
  }
  .bg-hero-slider .hero-content h4 {
    margin-bottom: 15px;
  }
}
@media (max-width: 990px) {
  /*humberger icon style*/
  .hamburger {
    position: relative;
    width: 1em;
    height: 1em;
    font-size: inherit;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  .hamburger.is-lg {
    font-size: 2rem;
  }
  .hamburger-line {
    position: absolute;
    right: 0;
    width: 100%;
    height: 0.125em;
    border-radius: 0.125em;
    background: currentColor;
    transition: inherit;
  }
  .hamburger-line:nth-child(1) {
    top: 0.125em;
  }
  .hamburger.is-active .hamburger-line:nth-child(1), .w-nav-button.w--open .hamburger-line:nth-child(1) {
    top: 50%;
    transform: translateY(-50%) rotateZ(-135deg);
  }
  .hamburger-line:nth-child(2) {
    top: 0.438em;
  }
  .hamburger.is-active .hamburger-line:nth-child(2), .w-nav-button.w--open .hamburger-line:nth-child(2) {
    right: 50%;
    width: 0;
  }
  .hamburger-line:nth-child(3) {
    top: 0.75em;
    width: 0.625em;
  }
  .hamburger.is-active .hamburger-line:nth-child(3), .w-nav-button.w--open .hamburger-line:nth-child(3) {
    top: 50%;
    width: 100%;
    transform: translateY(-50%) rotateZ(135deg);
  }
  ul.inline-flex.gap-50.primary-menu.menu-open {
    position: fixed;
    top: 68px;
    right: 0;
    background-color: #f1a501;
    height: 100vh;
    left: 0;
    bottom: 0;
    display: block;
  }
  ul.inline-flex.gap-50.primary-menu {
    display: none;
  }
  /* end */
  .service-content {
    flex-wrap: wrap;
    gap: 15px;
  }
  .service-content .service-item {
    padding: 15px;
    width: 41.6%;
    border-radius: 28px;
  }
  .header-block .header-content .gap-50 {
    gap: 20px;
  }
  .header-block .header-content .gap-50 .nav-menu .primary-menu li a {
    font-size: 16px;
    color: #fff;
    border-bottom: 1px solid #fff;
    display: block;
    padding: 15px;
  }
  .pd-top-50 {
    padding-top: 0px;
  }
  .margin-bottom-100 {
    margin-bottom: 50px;
  }
  .padding-bottom-70 {
    padding-bottom: 30px;
  }
  .bg-hero-slider .hero-content {
    max-width: 55%;
  }
  .bg-hero-slider .hero-content h1 {
    font-size: 55px;
    margin-bottom: 15px;
    line-height: 60px;
  }
  .bg-hero-slider .hero-content h4 {
    font-size: 16px;
  }
  .bg-hero-slider .hero-content .hero-btn a:first-child {
    font-size: 16px;
  }
  .padding-top-100 {
    padding-top: 0px;
  }
}
@media (max-width: 767px) {
  .service-item {
    width: 100%;
  }
  .container {
    max-width: 100%;
    width: 100%;
    padding: 0 15px;
  }
  .padding-bottom-70 {
    padding-bottom: 0px;
  }
  .header-block .position-absolute-header {
    padding: 15px 0px;
  }
  .bg-hero-slider {
    background-attachment: scroll;
  }
  .bg-hero-slider .home-banner-slider .hero-slider {
    flex-wrap: wrap;
  }
  .bg-hero-slider .home-banner-slider .hero-slider .hero-content {
    max-width: 100%;
    order: 2;
    text-align: center;
  }
  .bg-hero-slider .home-banner-slider .hero-slider .hero-content p {
    margin-bottom: 25px;
    line-height: 26px;
    max-width: 100%;
  }
  .bg-hero-slider .home-banner-slider .hero-slider .hero-banner img {
    width: 100%;
  }
  .bg-hero-slider .home-banner-slider .hero-content h1 {
    font-size: 45px;
    line-height: 50px;
  }
  .bg-hero-slider .home-banner-slider .hero-content h1 span:before {
    bottom: 0;
    display: none;
    left: 0;
  }
  .bg-hero-slider .home-banner-slider .hero-content .hero-btn {
    justify-content: space-between;
    gap: 20px;
  }
  .bg-hero-slider .home-banner-slider .hero-content .hero-btn a:first-child {
    font-size: 16px;
    padding: 18px 20px;
  }
  .bg-hero-slider .home-banner-slider .hero-content .hero-btn a:last-child .play-icon {
    height: 45px;
    width: 45px;
    margin-right: 10px;
  }
  .header-block {
    position: static;
  }
  .header-block .header-content .header-right-align .header-btn {
    display: none;
  }
  .header-block .header-content .header-right-align .language-switcher {
    display: none;
  }
  .header-block .header-content .gap {
    gap: 10px;
  }
  .service-block {
    padding-top: 30px;
  }
  .service-block::after {
    display: none;
  }
  .service-block .section-title h1 {
    font-size: 45px;
  }
  .service-block .service-content {
    flex-wrap: wrap;
  }
  .service-block .service-content .service-item {
    padding: 15px 0px;
    border-radius: 20px;
  }
  .service-block .service-content .service-item {
    width: 100%;
  }
  .service-block .service-content .service-item .servive-icon-contain {
    height: 110px;
  }
  .service-block .service-content .service-item:hover:before {
    display: none;
  }
}

/*# sourceMappingURL=resposnive.css.map */
